<aside class="sidebar">
  <h2>Categories</h2>
  <ul>
    <li><a href="/categories/#Web-Development">Web Development</a>
      <ul>
        <li><a href="/categories/#JavaScript-Ecosystem">JavaScript Ecosystem</a>
          <ul>
            <li><a href="/categories/#React">React</a></li>
            <li><a href="/categories/#Vue">Vue</a></li>
            <li><a href="/categories/#Angular">Angular</a></li>
            <li><a href="/categories/#NodeJS">Node.js</a></li>
            <li><a href="/categories/#Express">Express</a></li>
          </ul>
        </li>
        <li><a href="/categories/#Python-Ecosystem">Python Ecosystem</a>
          <ul>
            <li><a href="/categories/#Django">Django</a></li>
            <li><a href="/categories/#Flask">Flask</a></li>
            <li><a href="/categories/#FastAPI">FastAPI</a></li>
            <li><a href="/categories/#Celery">Celery</a></li>
            <li><a href="/categories/#Pandas-NumPy">Pandas/NumPy</a></li>
          </ul>
        </li>
        <li><a href="/categories/#Ruby-Ecosystem">Ruby Ecosystem</a>
          <ul>
            <li><a href="/categories/#Ruby-on-Rails">Ruby on Rails</a></li>
            <li><a href="/categories/#Sinatra">Sinatra</a></li>
            <li><a href="/categories/#PostgreSQL">PostgreSQL</a></li>
            <li><a href="/categories/#Redis">Redis</a></li>
            <li><a href="/categories/#Sidekiq">Sidekiq</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="/categories/#Mobile-Development">Mobile Development</a>
      <ul>
        <li><a href="/categories/#iOS-Development">iOS Development</a>
          <ul>
            <li><a href="/categories/#Swift">Swift</a></li>
            <li><a href="/categories/#Objective-C">Objective-C</a></li>
            <li><a href="/categories/#SwiftUI">SwiftUI</a></li>
            <li><a href="/categories/#UIKit">UIKit</a></li>
          </ul>
        </li>
        <li><a href="/categories/#Android-Development">Android Development</a>
          <ul>
            <li><a href="/categories/#Java">Java</a></li>
            <li><a href="/categories/#Kotlin">Kotlin</a></li>
            <li><a href="/categories/#Android-SDK">Android SDK</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="/categories/#Cross-Platform-Development">Cross-Platform Development</a>
      <ul>
        <li><a href="/categories/#Flutter">Flutter</a></li>
        <li><a href="/categories/#React-Native">React Native</a></li>
        <li><a href="/categories/#Xamarin">Xamarin</a></li>
      </ul>
    </li>
    <li><a href="/categories/#Data-Science">Data Science & Machine Learning</a>
      <ul>
        <li><a href="/categories/#Data-Analysis">Data Analysis</a>
          <ul>
            <li><a href="/categories/#Pandas">Pandas</a></li>
            <li><a href="/categories/#NumPy">NumPy</a></li>
            <li><a href="/categories/#Data-Visualization">Matplotlib/Seaborn</a></li>
          </ul>
        </li>
        <li><a href="/categories/#Machine-Learning">Machine Learning</a>
          <ul>
            <li><a href="/categories/#Scikit-Learn">Scikit-learn</a></li>
            <li><a href="/categories/#TensorFlow">TensorFlow</a></li>
            <li><a href="/categories/#PyTorch">PyTorch</a></li>
          </ul>
        </li>
        <li><a href="/categories/#Big-Data">Big Data</a>
          <ul>
            <li><a href="/categories/#Hadoop">Hadoop</a></li>
            <li><a href="/categories/#Spark">Spark</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="/categories/#DevOps-Cloud">DevOps & Cloud</a>
      <ul>
        <li><a href="/categories/#Cloud-Computing">Cloud Computing</a>
          <ul>
            <li><a href="/categories/#AWS">AWS</a></li>
            <li><a href="/categories/#Azure">Azure</a></li>
            <li><a href="/categories/#Google-Cloud">Google Cloud</a></li>
          </ul>
        </li>
        <li><a href="/categories/#Container-Orchestration">Container Orchestration</a>
          <ul>
            <li><a href="/categories/#Docker">Docker</a></li>
            <li><a href="/categories/#Kubernetes">Kubernetes</a></li>
          </ul>
        </li>
        <li><a href="/categories/#CI-CD">CI/CD</a>
          <ul>
            <li><a href="/categories/#Jenkins">Jenkins</a></li>
            <li><a href="/categories/#GitLab-CI">GitLab CI</a></li>
            <li><a href="/categories/#GitHub-Actions">GitHub Actions</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="/categories/#UI-UX">UI/UX Design</a>
      <ul>
        <li><a href="/categories/#UI-Design">UI Design</a>
          <ul>
            <li><a href="/categories/#Figma">Figma</a></li>
            <li><a href="/categories/#Sketch">Sketch</a></li>
            <li><a href="/categories/#Adobe-XD">Adobe XD</a></li>
          </ul>
        </li>
        <li><a href="/categories/#UX-Research">UX Research</a>
          <ul>
            <li><a href="/categories/#User-Research">User Research</a></li>
            <li><a href="/categories/#Prototyping">Prototyping</a></li>
            <li><a href="/categories/#Usability-Testing">Usability Testing</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="/categories/#Others">Others</a>
      <ul>
        <li><a href="/categories/#Books-Reviews">Books & Reviews</a></li>
        <li><a href="/categories/#Career-Development">Career Development</a></li>
        <li><a href="/categories/#Conferences">Conferences</a></li>
      </ul>
    </li>
  </ul>
</aside>
