<aside class="sidebar">
  <h2>Categories</h2>
  <ul>
    <li><a href="/categories/#Front-end">Front-end</a>
      <ul>
        <li><a href="/categories/#React">React</a></li>
        <li><a href="/categories/#JavaScript">JavaScript</a></li>
        <li><a href="/categories/#TypeScript">TypeScript</a></li>
      </ul>
    </li>
    <li><a href="/categories/#Back-end">Back-end</a>
      <ul>
        <li><a href="/categories/#NodeJS">NodeJS</a></li>
      </ul>
    </li>
    <li><a href="/categories/#Server">Server</a></li>
  </ul>
</aside>
