$background-color: #fbeaf0 !default;
$text-color: #3e0d23 !default;
$muted-text-color: #8e3a4d !default;
$primary-color: #B38498 !default;
$border-color: #e3a4b2 !default;
$footer-background-color: #d6c9cf !default;
$link-color: #B38498 !default;
$masthead-link-color: #B38498 !default;
$masthead-link-color-hover: #7a5070 !default;
$navicon-link-color-hover: mix(#fff, #B38498, 80%) !default;

$category-color: #915374 !default;
$category-background-color: #f8a1b2 !default;

$base00: #3e0d23 !default;
$base01: #7a2f55 !default;
$base02: #b04b7a !default;
$base03: #d86d94 !default;
$base04: #e589a9 !default;
$base05: #f3a1bc !default;
$base06: #f8b8c7 !default;
$base07: #fad1d9 !default;
$base08: #d83a64 !default;
$base09: #e04b7a !default;
$base0a: #ea7d8e !default;
$base0b: #d16f8f !default;
$base0c: #bf5e87 !default;
$base0d: #B38498 !default;
$base0e: #943c68 !default;
$base0f: #7a2f55 !default;
