.sidebar {
  margin-top: 1em;
  background-color: #c77a7a;
  padding: 15px;
  color: #FFFFFF;
  @media (min-width: $large) {
    float: left;
    width: calc(#{$right-sidebar-width-narrow} - 1em);
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out, background-color 0.3s ease;

    &:hover {
      opacity: 1;
      background-color: #c77a7a;
    }

    &.sticky {
      overflow-y: auto;
      max-height: calc(100vh - #{$nav-height} - 2em);
    }
  }

  @media (min-width: $x-large) {
    width: calc(#{$right-sidebar-width} - 1em);
  }
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #ffffff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1em;
}

.sidebar a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px;
  display: block;
  background-color: #672020;
  font-size:15px;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #90849f;
}

.sidebar .dropdown-menu {
  display: none;
  padding-left: 15px;
}

.sidebar li:hover > .dropdown-menu {
  display: block;
}

.sidebar .dropdown-menu a {
  background-color: #937474;
  margin-top: 5px;
}

.sidebar .dropdown-menu a:hover {
  background-color: #693f3f;
}

/* 서브 메뉴 추가 스타일 */
.sidebar .dropdown-menu .dropdown-menu {
  padding-left: 15px;
}